#share .artesis-facebookshare-box-wrapper {
  float: right;
  clear: right;
  padding-top: 10px;
  min-width: 170px;
  text-align: right;
}

#share .artesis-facebookshare-box-wrapper a {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: #f8f8f8;
  overflow: hidden;
  height: 22px;
  outline: none;
  text-decoration: none;
  background-color: #325d9a;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#3972c1),to(#325d9a));
  background-image: -moz-linear-gradient(top,#3972c1,#325d9a);
  background-image: -o-linear-gradient(top,#3972c1,#325d9a);
  background-image: -ms-linear-gradient(top,#3972c1,#325d9a);
  background-image: linear-gradient(top,#3972c1,#325d9a);
  border: #325d9a solid 1px;
}
#share .artesis-facebookshare-box-wrapper a,
#share .artesis-facebookshare-box-wrapper .artesis-facebookshare-count {
  display: inline-block; 
  zoom: 1; 
  *display: inline;
}
#share .artesis-facebookshare-box-wrapper span {
  position: relative;
  padding: 2px 4px 4px 4px;
}

#share .artesis-facebookshare-box-wrapper i {
  position: absolute;
  top: 50%;
  left: 3px;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  background: rgba(0, 0, 0, 255) url('../img/fb_share2.png');
  z-index: 2000;
  }

#share .artesis-facebookshare-count {
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  background: #F7F7F7;
  border: 1px solid #BBBBBB;
  margin-left: 5px;
  padding: 0 7px 0 4px;
  top: 1px;
  height: 22px;
}
#share .artesis-facebookshare-count:after, .artesis-facebookshare-count:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#share .artesis-facebookshare-count:after {
  border-color: rgba(247, 247, 247, 0);
  border-right-color: #F7F7F7;
  border-width: 5px;
  top: 50%;
  margin-top: -5px;
}
#share .artesis-facebookshare-count:before {
  border-color: rgba(187, 187, 187, 0);
  border-right-color: #BBBBBB;
  border-width: 5px;
  top: 50%;
  margin-top: -5px;
}