.pane-facebookshare-facebook-share {
  max-width: 1124px;
  width: 90%;
  margin: 10px auto 0 auto;
  z-index: 1;
 }

.pane-facebookshare-facebook-share .panel-pane-inner {
  float: right;
  padding-top: 2px;
}

.pane-facebookshare-facebook-share .fb-share:after {
  content: '';
  background: url('../images/F_icon.svg') no-repeat;
  float: left;
  height: 20px;
  width: 20px;
  margin: -2px 10px 0 0;
}
